fastapi==0.128.0
uvicorn==0.40.0
torch==2.7.0
torchvision==0.22.0
transformers==5.2.0
datasets==4.6.1
scikit-learn==1.8.0
pandas==3.0.1
numpy==2.4.2
matplotlib==3.10.8
nltk==3.9.2
redis==7.2.1
boto3==1.42.67
python-dotenv==1.2.1
requests==2.32.5
aiohttp==3.13.3
huggingface-hub==1.5.0
pyyaml==6.0.3
tqdm==4.67.3
pillow==12.1.1
safetensors==0.7.0
tokenizers==0.22.2